In [1]:
# Dependencies
import pandas as pd
import numpy as np

In [2]:
# Save file path to variable
rentals_csv = "Resources/2016_rental_by_LGA.csv"

In [3]:
# Read with Pandas
rentals_df = pd.read_csv(rentals_csv)
rentals_df.head()

,State,LGA,11: Separate house,"21: Semi-detached, row or terrace house, townhouse etc. with : One storey","22: Semi-detached, row or terrace house, townhouse etc. with : Two or more storeys",31: Flat or apartment: In a one or two storey block,32: Flat or apartment: In a three storey block,33: Flat or apartment: In a four or more storey block,34: Flat or apartment: Attached to a house,91: Caravan,"92: Cabin, houseboat","93: Improved home, tent, sleepers out","94: House or flat attached to a shop, office, etc.",Z: Not stated
0,1: New South Wales,10050: Albury (C),3826,2145,300,248,50,17,0,11,18,0,20,38
1,5: Western Australia,50560: Beverley (S),99,0,0,6,0,0,0,0,0,0,0,3
2,5: Western Australia,50210: Armadale (C),4405,1547,38,109,40,0,0,40,3,0,7,26
3,5: Western Australia,50250: Ashburton (S),1499,150,8,53,13,0,0,42,19,9,3,12
4,5: Western Australia,50280: Augusta-Margaret River (S),1302,96,21,41,0,0,0,23,42,6,3,27

In [4]:
# Create a groupby object by state
state_total_group = rentals_df.groupby(["State"])
state_total_group

In [5]:
# Create a dataframe of the totals for each state
state_totals_df = state_total_group.sum()
state_totals_df

,11: Separate house,"21: Semi-detached, row or terrace house, townhouse etc. with : One storey","22: Semi-detached, row or terrace house, townhouse etc. with : Two or more storeys",31: Flat or apartment: In a one or two storey block,32: Flat or apartment: In a three storey block,33: Flat or apartment: In a four or more storey block,34: Flat or apartment: Attached to a house,91: Caravan,"92: Cabin, houseboat","93: Improved home, tent, sleepers out","94: House or flat attached to a shop, office, etc.",Z: Not stated
State,,,,,,,,,,,,
1: New South Wales,353227,62503,77307,91464,102096,134233,1595,1875,2463,419,6128,6079
2: Victoria,305236,89294,46105,65578,34684,67011,226,772,1775,60,2958,3167
3: Queensland,333277,41189,63513,54570,35882,37181,254,3174,2339,551,1133,3689
4: South Australia,104825,38716,10757,22159,3055,3540,50,402,511,132,370,910
5: Western Australia,156316,45063,14133,13001,8132,10662,30,1403,502,381,445,1179
6: Tasmania,38501,5659,1836,6739,787,657,124,79,140,9,235,242
7: Northern Territory,18708,3659,1804,3646,1486,3442,19,620,204,178,243,333
8: Australian Capital Territory,19416,6070,5731,3322,5102,6192,146,4,57,0,19,171

In [6]:
# Calculate the total rented properties in each state by summing all of the columns together.
# Place the results into a new column.
state_totals_df["Total"] = state_totals_df.sum(axis=1)

state_totals_df["Total"]

State
1: New South Wales                 839389
2: Victoria                        616866
3: Queensland                      576752
4: South Australia                 185427
5: Western Australia               251247
6: Tasmania                         55008
7: Northern Territory               34342
8: Australian Capital Territory     46230
Name: Total, dtype: int64

In [7]:
# Create a dataframe of the averages for each state
state_avg_df = state_total_group.mean()
state_avg_df

,11: Separate house,"21: Semi-detached, row or terrace house, townhouse etc. with : One storey","22: Semi-detached, row or terrace house, townhouse etc. with : Two or more storeys",31: Flat or apartment: In a one or two storey block,32: Flat or apartment: In a three storey block,33: Flat or apartment: In a four or more storey block,34: Flat or apartment: Attached to a house,91: Caravan,"92: Cabin, houseboat","93: Improved home, tent, sleepers out","94: House or flat attached to a shop, office, etc.",Z: Not stated
State,,,,,,,,,,,,
1: New South Wales,2696.389313,477.122137,590.129771,698.198473,779.358779,1024.679389,12.175573,14.312977,18.801527,3.198473,46.778626,46.404580
2: Victoria,3768.345679,1102.395062,569.197531,809.604938,428.197531,827.296296,2.790123,9.530864,21.913580,0.740741,36.518519,39.098765
3: Queensland,4218.696203,521.379747,803.962025,690.759494,454.202532,470.645570,3.215190,40.177215,29.607595,6.974684,14.341772,46.696203
4: South Australia,1455.902778,537.722222,149.402778,307.763889,42.430556,49.166667,0.694444,5.583333,7.097222,1.833333,5.138889,12.638889
5: Western Australia,1132.724638,326.543478,102.413043,94.210145,58.927536,77.260870,0.217391,10.166667,3.637681,2.760870,3.224638,8.543478
6: Tasmania,1283.366667,188.633333,61.200000,224.633333,26.233333,21.900000,4.133333,2.633333,4.666667,0.300000,7.833333,8.066667
7: Northern Territory,984.631579,192.578947,94.947368,191.894737,78.210526,181.157895,1.000000,32.631579,10.736842,9.368421,12.789474,17.526316
8: Australian Capital Territory,9708.000000,3035.000000,2865.500000,1661.000000,2551.000000,3096.000000,73.000000,2.000000,28.500000,0.000000,9.500000,85.500000

In [8]:
# Export the DataFrames to CSV
state_totals_df.to_csv("output/state_totals.csv", index=True)
state_avg_df.to_csv("output/state_avg.csv", index=True)